.table {
  margin: auto;
  margin-top: 30px;
  border: 2px solid #000000;
  background-color: #c6c6c6;
  width: 700px;
  text-align: center;
  border-collapse: collapse;
}
.tableHeadTR {
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background-color: #354251;
}
.tableTH {
  white-space: pre-wrap;
  padding: 10px 5px;
  line-height: 13px;
  vertical-align: middle;
  border: 1px solid #354251;
}
.tableTD {
  border: 1px solid #aaaaaa;
  padding: 5px 0px;
}

.tableTR:nth-child(even) {
  background: #fff;
}
